* {
    border: none;
    min-height: 0;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #EFF1F5;
    border: 2px solid #CCD0DA;
    border-radius: 4px;
}

tooltip {
    background-color: #CCD0DA;
    border: 2px solid #CCD0DA;
    font-size: 2px;
}

tooltip label {
    margin: 8px;
    color: #4c4f69;
}

#custom-music,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#language {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    border-radius: 10px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
    border-radius: 100%;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #4c4f69;
    background-color: #CCD0DA;
    border: 2px solid #CCD0DA;
    border-radius: 4px;
    margin-right: 2px;
}

#workspaces button.active {
    color: #4c4f69;
    background-color: #CCD0DA;
}

#workspaces button.urgent {
    background-color: #f5c2e7;
    color: #4c4f69;
    border: 2px solid #f5c2e7;
}

#custom-music {
    background-color: #CCD0DA;
    border: 2px solid #CCD0DA;
    color: #4c4f69;
}

#clock {
    background-color: #CCD0DA;
    border: 2px solid #CCD0DA;
    color: #4c4f69;
    margin-left: 3px;
}

#cpu,
#memory,
#network,
#pulseaudio,
#battery {
    background-color: #CCD0DA;
    border: 2px solid #CCD0DA;
    color: #4c4f69;
}

#language {
    background-color: #CCD0DA;
}

#network {
    min-width: 100px;
}

#cpu,
#memory,
#battery,
#pulseaudio {
    min-width: 60px;
}

#cpu.critical,
#memory.critical {
    color: #f38ba8;
    border: 2px solid #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #f38ba8;
    border: 2px solid #f38ba8;
}

#custom-launcher {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 5px;
    transition: none;
    color: #4c4f69;
}

#custom-control {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    transition: none;
    color: #4c4f69;
}

#language {
    min-width: 20px;
}

#cpu {
    background: #89b4fa;
    color: #4c4f69;
}

#memory {
    background: #a6e3a1;
}

#pulseaudio {
    background: #b4befe;
}

#network {
    background: #eba0ac;
}

#tray {
    background: #CCD0DA;
}