* {
  all: unset;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: #1e1e2e;
  border: 2px solid #313244;
  border-radius: 4px;
}

tooltip {
  background-color: #313244;
  border: 2px solid #313244;
  font-size: 12px;
}

tooltip label {
  margin: 8px;
  color: #cdd6f4;
}

#window,
#custom-music,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#language {
  margin: 6px 6px 6px 0;
  padding: 2px 8px;
  border-radius: 10px;
  background-color: #313244;
  border: 2px solid #313244;
  color: #cdd6f4;
}

#workspaces {
  margin: 6px 0 6px 6px;
  border-radius: 100%;
}

#workspaces button {
  all: unset;
  min-width: 0;
  padding: 2px 4px;
  margin-right: 2px;
  color: #cdd6f4;
  background-color: #313244;
  border: 2px solid #313244;
  border-radius: 4px;
}

#workspaces button.active {
  background-color: #313244;
}

#workspaces button.urgent {
  background-color: #f5c2e7;
  border-color: #f5c2e7;
}

#network {
  min-width: 13px;
  background: #eba0ac;
  color: #1E1E2E;
}

#cpu,
#memory,
#battery,
#pulseaudio {
  min-width: 60px;
}

#cpu {
  background: #89b4fa;
  color: #1E1E2E;
}

#memory {
  background: #a6e3a1;
  color: #1E1E2E;
}

#pulseaudio {
  background: #b4befe;
  color: #1E1E2E;
}

#battery.warning,
#battery.critical,
#battery.urgent,
#cpu.critical,
#memory.critical {
  color: #f38ba8;
  border-color: #f38ba8;
}

#language {
  min-width: 20px;
  background-color: #313244;
}

#custom-control {
  font-size: 16px;
  padding: 0 5px;
  color: #cdd6f4;
  margin-right: 15px;
  margin-left: 15px;
}

#tray {
  background: #313244;
}

#clock {
    margin-left: 15px;
}